/target
### somunsm template
######################################################################
# Build Tools

# Gradle
.gradle/
gradle/
!gradle/wrapper/gradle-wrapper.jar

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

# Node.js / NPM
node_modules/
jspm_packages/

# Yarn
yarn-error.log*
yarn-debug.log*

# SBT
.history/

# Other build tools
build/
dist/
out/
.DS_Store

######################################################################
# IDE

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# STS
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Vim
*.swo

# Sublime Text
*.sublime-project
*.sublime-workspace

# Android Studio
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml

######################################################################
# Programming Languages

# Java
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*

# Logs
*.log
npm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/
*.lcov
.nyc_output

# Dependency directories
dependency-reduced-pom.xml

# Typescript
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.*
!.env.example

# parcel-bundler cache
.cache
.parcel-cache

# Next.js build output
.next

# Nuxt.js build / generate output
.nuxt

# Gatsby files
.cache/

# vuepress build output
.vuepress/dist

# vuepress v2.x temp and cache directory
.temp

# Sveltekit cache directory
.svelte-kit/

# vitepress build output
**/.vitepress/dist

# vitepress cache directory
**/.vitepress/cache

# Docusaurus cache and generated files
.docusaurus

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb

# Firebase cache directory
.firebase

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v3
.pnp.*
.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/

######################################################################
# OS Generated Files

# Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# macOS
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
AppleDiff
AppleTemp
Network Trash Folder
Temporary Items
.apdisk

# Linux
*~
*#
.swp
.goutputstream-*

######################################################################
# Git

# Created by git for backups
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

######################################################################
# Project Specific

# JRebel
rebel.xml

# Custom configurations
application-my.yaml

# Temporary files
.tmp

# Editor files
.#*

# Scratch files
/scratch

# Exercism
.exercism
